// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #0096db;
}

#header {
  margin-top: 5em;
}

.hide {
  display: none !important;
}

// #masthead {
//   background: image-url('strong_and_stable.jpg') no-repeat center center fixed;
//   background-size: cover;
// }

// #layer {
//   background-color: rgba(228, 0, 59, 0.6);
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }
